##  04 Grabbing HTML tables with Pandas
What if you saw a table you wanted on a web page? For example: https://en.wikipedia.org/wiki/World_Happiness_Report. Can Python help us download those data? 

Why yes. Yes it can.

Specifically, we use the Pandas' `read_html` function, which is able to identify tables in an HTML page and pull them out into a dataframe object.

In [1]:
#Import pandas
import pandas

In [2]:
#Here, the read_html function pulls into a list object any table in the URL we provide.
tableList = pandas.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report',header=0)
print ("{} tables were found".format(len(tableList))) #you need beautifulsoup to work here

10 tables were found

In [3]:
#Let's grab the 6th table one and display it's firt five rows
df = tableList[5]
df.head()

,Overall Rank,Change in rank,Country,Score,Change in score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust,Residual
0,1,3,Norway,7.537,0.039,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,1,Denmark,7.522,0.004,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,NaN,Iceland,7.504,0.003,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,2,Switzerland,7.494,0.015,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,5,NaN,Finland,7.469,0.056,1.444,1.540,0.809,0.618,0.245,0.383,2.430

In [ ]:
#Looks like the first row should be a header, we can fix this by adding the 'header=0' option when reading int the tables
df = pandas.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report',header=0)[5]
df.head()

In [ ]:
#Now we can save it to a local file using df.to_csv()
df.to_csv("Happiness.csv", # The output filename
          index=False,     # We opt not to write out the index
          encoding='utf8') # This deals with issues surrounding countries with odd characters

In [ ]:
#...or we can examine it
#Here is as quick preview of pandas' plotting capability
%matplotlib inline
df.plot.scatter(x='Social support',y='Healthy life expectancy');